<div id="modal-new-game">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
        <h4 class="modal-title">Start a new game?</span></h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-6 text-right">
                    <label for="new-game-players"># of Players:</label>
                </div>
                <div class="col-sm-6">
                    <div class="btn-group">
                        <label class="btn btn-default number-of-players" ng-model="vm.numberOfPlayers" uib-btn-radio="'4'">4</label>
                        <label class="btn btn-default number-of-players" ng-model="vm.numberOfPlayers" uib-btn-radio="'5'">5</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 text-right">
                    <label for="new-game-players">Point Value:</label>
                </div>
                <div class="col-sm-6">
                    <div class="btn-group">
                        <label class="btn btn-default point-value" ng-model="vm.pointValue" uib-btn-radio="'0.05'">5&cent;</label>
                        <label class="btn btn-default point-value" ng-model="vm.pointValue" uib-btn-radio="'0.10'">10&cent;</label>
                        <label class="btn btn-default point-value" ng-model="vm.pointValue" uib-btn-radio="'0.25'">25&cent;</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 text-right">
                    <label for="new-game-players">Seat Change After Game #:</label>
                </div>
                <div class="col-sm-2 seat-change-input">
                    <input type="text" class="form-control no-padding text-center" ng-model="vm.seatChange">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">No</button>
        <button type="button" class="btn btn-primary" ng-click="createGame()">Yes</button>
    </div>
</div>
