<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	
	<title>Table with Persistent Headers</title>
	
	<link rel="stylesheet" href="css/style.css">
	
	<style>
    .floatingHeader {
      position: fixed;
      top: 0;
      visibility: hidden;
    }
	</style>
	
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>
    function UpdateTableHeaders() {
       $(".persist-area").each(function() {
       
           var el             = $(this),
               offset         = el.offset(),
               scrollTop      = $(window).scrollTop(),
               floatingHeader = $(".floatingHeader", this)
           
           if ((scrollTop > offset.top) && (scrollTop < offset.top + el.height())) {
               floatingHeader.css({
                "visibility": "visible"
               });
           } else {
               floatingHeader.css({
                "visibility": "hidden"
               });      
           };
       });
    }
    
    // DOM Ready      
    $(function() {
    
       var clonedHeaderRow;
    
       $(".persist-area").each(function() {
           clonedHeaderRow = $(".persist-header", this);
           clonedHeaderRow
             .before(clonedHeaderRow.clone())
             .css("width", clonedHeaderRow.width())
             .addClass("floatingHeader");
             
       });
       
       $(window)
        .scroll(UpdateTableHeaders)
        .trigger("scroll");
       
    });
  </script>
</head>

<body>

	<div id="page-wrap">

		<h1>Persistent Headers</h1>
		
		<p>Scroll down and watch the table headers stay with the table when they normally would be scrolled off the screen.</p>
		
    <table class="persist-area">
        <thead>
          <tr class="persist-header">
             <th>#</th>
             <th>Player 1</th>
             <th>Player 2</th>
             <th>Player 3</th>
             <th>Player 4</th>
          </tr>
        </thead>
        <tbody>
          <tr>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
          </tr>
          <tr>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
          </tr>
          <tr>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
          </tr>
          <tr>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
          </tr>
          <tr>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
          </tr>
          <tr>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
          </tr>
          <tr>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
          </tr>
          <tr>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
          </tr>
          <tr>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
          </tr>
          <tr>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
          </tr>
          <tr>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
          </tr>
          <tr>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
          </tr>
          <tr>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
          </tr>
          <tr>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
             <td>table1 data1</td>
          </tr>
        </tbody>
      </table>
              
      <table class="persist-area">
            <thead class="">
                <tr class="players persist-header" ng-click="editPlayers()">
                    <th>#</th>
                    <th class="player1 ng-binding" ng-bind="players.player1 || 'Player 1'">Player 1</th>
                    <th class="player2 ng-binding" ng-bind="players.player2 || 'Player 2'">Player 2</th>
                    <th class="player3 ng-binding" ng-bind="players.player3 || 'Player 3'">Player 3</th>
                    <th class="player4 ng-binding" ng-bind="players.player4 || 'Player 4'">Player 4</th>
                </tr>
            </thead>
            <tbody>
                <!-- ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">1</td>
                    <td class="ng-binding">22</td>
                    <td class="ng-binding">2</td>
                    <td class="ng-binding">2</td>
                    <td class="ng-binding">-26</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">2</td>
                    <td class="ng-binding">2</td>
                    <td class="ng-binding">2</td>
                    <td class="ng-binding">2</td>
                    <td class="ng-binding">-6</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">3</td>
                    <td class="ng-binding">3</td>
                    <td class="ng-binding">3</td>
                    <td class="ng-binding">3</td>
                    <td class="ng-binding">-9</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">3</td>
                    <td class="ng-binding">3</td>
                    <td class="ng-binding">3</td>
                    <td class="ng-binding">-9</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">3</td>
                    <td class="ng-binding">3</td>
                    <td class="ng-binding">3</td>
                    <td class="ng-binding">-9</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">6</td>
                    <td class="ng-binding">3</td>
                    <td class="ng-binding">3</td>
                    <td class="ng-binding">-9</td>
                    <td class="ng-binding">3</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">7</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-12</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">8</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-12</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">9</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-12</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">10</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-12</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">11</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-12</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">12</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">-15</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">13</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">-15</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">14</td>
                    <td class="ng-binding">55</td>
                    <td class="ng-binding">-65</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">5</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">15</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">-15</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">16</td>
                    <td class="ng-binding">5</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">4</td>
                    <td class="ng-binding">-13</td>
                </tr><!-- end ngRepeat: game in scores --><tr ng-repeat="game in scores" class="scores ng-scope" ng-click="editScores(game)">
                    <td class="ng-binding">17</td>
                    <td class="ng-binding">-</td>
                    <td class="ng-binding">-</td>
                    <td class="ng-binding">-</td>
                    <td class="ng-binding">-</td>
                </tr><!-- end ngRepeat: game in scores -->
                <!-- ngIf: !hideTotals -->
                <!-- ngIf: hideTotals --><tr class="last-row info ng-scope" ng-if="hideTotals" ng-click="toggleTotals(false)">
                    <td>Total</td>
                    <td colspan="4">Click for total scores</td>
                </tr><!-- end ngIf: hideTotals -->
            </tbody>
        </table>
	</div>
	
</body>

</html>