<div id="modal-edit-score">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
        <h4 class="modal-title" ng-if="vm.gameData.timestamp">Score for Game {{ vm.gameData.id }} - {{ vm.gameData.timestamp | date : 'h:mma' | lowercase }} on {{ vm.gameData.timestamp | date : 'MMM d, yyyy'}}</h4>
        <h4 class="modal-title" ng-if="!vm.gameData.timestamp">Score for Game {{ vm.gameData.id }}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">

            <div class="form-group header text-center">
                <div class="col-sm-2"></div>
                <label class="col-sm-7">Cards Left</label>
                <label class="col-sm-1">Score</label>
                <label class="col-sm-1">Winner</label>
            </div>

            <div class="form-group" ng-repeat="(key, value) in vm.gameData" ng-if="key.indexOf('player') > -1">
                <label class="col-sm-2 control-label">{{ vm.players[key] }}</label>
                <div class="col-sm-7 slider">
                    <div layout>
                        <md-slider flex md-discrete class="md-primary" ng-model="vm.gameData[key]" ng-disabled="vm.winner == key" ng-change="calculateWinningScore()" step="1" min="0" max="13" aria-label="rating">
                        </md-slider>
                    </div>
                </div>
                <div class="col-sm-1 score text-center">{{ convertCardsToScore(vm.gameData[key]) }}</div>
                <div class="col-sm-1">
                    <span class="col-sm-2 btn btn-default winner" ng-model="vm.winner" ng-disabled="vm.gameData[key] > 0" ng-click="vm.gameData[key] > 0 || calculateWinningScore()" uib-btn-radio="key">
                        <span class="glyphicon glyphicon-ok"></span>
                    </span>
                </div>
            </div>
         </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="close()" ng-disabled="!vm.winner">Save</button>
    </div>
</div>