<div id="modal-seat-change">
    <div class="modal-header">
        <button type="button" class="close" ng-click="ok()"><span>&times;</span></button>
        <h4 class="modal-title">Seat Change</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span>Time to change seats</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ok()">Ok</button>
    </div>
</div>