<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed-menu" ng-click="showNavbarBackdrop = !showNavbarBackdrop">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Big 2 - Guy's Night Out</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapsed-menu">
            <ul class="nav navbar-nav text-right pull-right">
                <li><a class="cursor-pointer" ng-click="vm.newGameModal()"><span class="glyphicon glyphicon-plus"></span> New Game</a></li>
                <li><a class="cursor-pointer" ng-click="vm.payoutModal()"><span class="glyphicon glyphicon-usd"></span> Payout</a></li>
                <li><a class="cursor-pointer" ng-click="vm.dataModal()"><span class="glyphicon glyphicon-stats"></span> Data</a></li>
                <!-- <li><a href="/#/">Current Game</a></li> -->
            </ul>
        </div>
    </div>
</nav>

<!-- <div id="navbar-backdrop" ng-show="showNavbarBackdrop"></div> -->