<div id="modal-stats">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span>&times;</span></button>
        <h4 class="modal-title" ng-if="!vm.showHistory"><span class="glyphicon glyphicon-stats"></span> Statistics - Current Game</h4>
        <h4 class="modal-title" ng-if="vm.showHistory"><span class="glyphicon glyphicon-stats"></span> Historical Stats - {{ vm.formattedHistoryDate | date:'EEEE, MMMM d, yyyy' }}
            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Other Games
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-repeat="date in vm.historyDates | orderBy:'-' " ng-class="{disabled: vm.statDate == date}">
                        <a class="cursor-pointer" ng-click="vm.statDate == date || vm.historyModal(date)">{{ vm.formatDate(date) | date:'MMM d, yyyy' }}</a>
                    </li>
                    <li ng-class="{disabled: vm.statDate == 'all'}"><a class="cursor-pointer" ng-click="vm.statDate == 'all' || vm.historyModal('all')">All Stats</a></li>
                </ul>
            </div>
        </h4>
    </div>
    <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-heading">Overall Stats</div>
            <table id="table-overall-stats" class="table">
                <tbody>
                    <tr>
                        <td class="text-right"><strong>Total Games Played: </strong></td>
                        <td class="text-left" colspan="3">{{ vm.gamesPlayed }}</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Most Wins: </strong></td>
                        <td class="text-left" colspan="3">{{ vm.gameStats.mostWins.number }} ({{ vm.gameStats.mostWins.players.join(', ') }})</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Most Losses: </strong></td>
                        <td class="text-left" colspan="3">{{ vm.gameStats.mostLosses.number }} ({{ vm.gameStats.mostLosses.players.join(', ') }})</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Biggest Win: </strong></td>
                        <td class="text-left" colspan="3">{{ vm.gameStats.biggestWin.score }} ({{ vm.gameStats.biggestWin.formattedWinners.join(', ') }})</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Longest Losing Streak: </strong></td>
                        <td class="text-left" colspan="3">{{ vm.gameStats.biggestLosingStreak.number }} ({{ vm.gameStats.biggestLosingStreak.players.join(', ') }})</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Average Game Length: </strong></td>
                        <td ng-show="vm.gameStats.avgGameLength.available" class="text-left" colspan="3">{{ vm.gameStats.avgGameLength.minutes }}:{{ vm.gameStats.avgGameLength.seconds }}</td>
                        <td ng-show="!vm.gameStats.avgGameLength.available" class="text-left" colspan="3">N/A</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Scoring Trends</div>
            <canvas style="padding: 10px;" id="scoring-trends" height="200px"></canvas>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Individual Performance</div>
            <table id="table-individual-stats" class="table table-striped">
                <thead>
                    <tr class="players row-divider">
                        <th class="col-sm-3"></th>
                        <th ng-repeat="(key, value) in vm.players">{{ value }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Final Score</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totals" 
                            ng-class="{'success': vm.stats.totals.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Games Played</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalPlayed" 
                            ng-class="{'success': vm.stats.totalPlayed.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr ng-if="vm.settings.numberOfPlayers != 4">
                        <td><strong>Longest Playing Streak</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.biggestPlayingStreak" 
                            ng-class="{'success': vm.stats.biggestPlayingStreak.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr ng-if="vm.settings.numberOfPlayers != 4">
                        <td><strong>Sat Out</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalSits" 
                            ng-class="{'success': vm.stats.totalSits.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>

                    <tr class="row-divider">
                        <td><strong># of Wins</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalWins" 
                            ng-class="{'success': vm.stats.totalWins.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Win %</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.winPercentage" 
                            ng-class="{'success': vm.stats.winPercentage.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Biggest Win</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.biggestWin" 
                            ng-class="{'success': vm.stats.biggestWin.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Small Wins (-9 or less)</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalSmallWins" 
                            ng-class="{'success': vm.stats.totalSmallWins.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Small Wins %</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.smallWinPercentage" 
                            ng-class="{'success': vm.stats.smallWinPercentage.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Avg Win</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.avgWinningScore" 
                            ng-class="{'success': vm.stats.avgWinningScore.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Longest Winning Streak</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.biggestWinningStreak" 
                            ng-class="{'success': vm.stats.biggestWinningStreak.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>

                    <tr class="row-divider">
                        <td><strong># of Losses</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalLosses" 
                            ng-class="{'success': vm.stats.totalLosses.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Loss %</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.lossPercentage" 
                            ng-class="{'success': vm.stats.lossPercentage.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Small Losses (3 or less)</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalSmallLosses" 
                            ng-class="{'success': vm.stats.totalSmallLosses.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Small Loss %</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.smallLossPercentage" 
                            ng-class="{'success': vm.stats.smallLossPercentage.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Avg Loss</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.avgLosingScore" 
                            ng-class="{'success': vm.stats.avgLosingScore.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Longest Losing Streak</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.biggestLosingStreak" 
                            ng-class="{'success': vm.stats.biggestLosingStreak.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Doubles</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalDoubles" 
                            ng-class="{'success': vm.stats.totalDoubles.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Triples</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalTriples" 
                            ng-class="{'success': vm.stats.totalTriples.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Big Loser</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalBigLoser" 
                            ng-class="{'success': vm.stats.totalBigLoser.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Second Place</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.secondPlace" 
                            ng-class="{'success': vm.stats.secondPlace.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Third Place</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.thirdPlace" 
                            ng-class="{'success': vm.stats.thirdPlace.biggest.indexOf(key) > -1 && value != 0}"
                            ng-if="key.indexOf('player') > -1">{{ value || '0' }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-default" ng-if="vm.showHistory">
            <div class="panel-heading" ng-show="!vm.showScores" ng-click="vm.showScores = true">
                Scores
                <span class="glyphicon glyphicon-menu-down pull-right"></span>
            </div>
            <div class="panel-heading" ng-show="vm.showScores" ng-click="vm.showScores = false">
                Scores
                <span class="glyphicon glyphicon-menu-up pull-right"></span>
            </div>
            <table class="table table-striped scores" ng-if="vm.showScores">
                <thead>
                    <tr class="players">
                        <th>#</th>
                        <th ng-repeat="(key, value) in vm.players">{{ value }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="score in vm.scores" class="scores">
                        <td class="column-number" ng-repeat="(key, value) in score" ng-if="key == 'id'">{{ value || '-' }}</td>
                        <td ng-repeat="(key, value) in score" 
                            ng-class="{ 'success': (value < 0),
                                        'danger': (value >= 20),
                                        'column-player-4': (vm.settings.numberOfPlayers == 4), 
                                        'column-player-5': (vm.settings.numberOfPlayers == 5) }"
                            ng-if="key.indexOf('player') > -1">{{ value || '-' }}
                        </td>
                    </tr>
                    <tr id="totals" class="row-divider info">
                        <td><strong>Total</strong></td>
                        <td ng-repeat="(key, value) in vm.totals"><strong>{{ value || '0' }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</div>