<div id="modal-stats">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span>&times;</span></button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-stats"></span> Statistics</h4>
    </div>
    <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-heading">Overall Stats</div>
            <table id="table-overall-stats" class="table">
                <tbody>
                    <tr>
                        <td class="text-right"><strong>Total Games Played: </strong></td>
                        <td class="text-left" colspan="3">{{ vm.gamesPlayed }}</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Most Wins: </strong></td>
                        <td class="text-left" colspan="3">{{ vm.gameStats.mostWins.players.join(', ') }} ({{ vm.gameStats.mostWins.number }})</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Most Losses: </strong></td>
                        <td class="text-left" colspan="3">{{ vm.gameStats.mostLosses.players.join(', ') }} ({{ vm.gameStats.mostLosses.number }})</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Individual Performance</div>
            <table class="table table-striped">
                <thead>
                    <tr class="players" ng-click="editPlayers()">
                        <th></th>
                        <th ng-repeat="(key, value) in vm.players">{{ value || 'Player ' + ($index + 1) }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-divider">
                        <td><strong>Played</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalPlayed">{{ value || 0 }}</td>
                    </tr>
                    <tr>
                        <td><strong>Sat Out</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalSits">{{ value || 0 }}</td>
                    </tr>
                    <tr class="row-divider">
                        <td><strong>Wins</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalWins">{{ value || 0 }}</td>
                    </tr>
                    <tr>
                        <td><strong>Win %</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.winPercentage">{{ value || 0 }}%</td>
                    </tr>
                    <tr>
                        <td><strong>Avg Win</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.avgWinningScore">{{ value || 0 }}</td>
                    </tr>
                    <tr class="row-divider">
                        <td><strong>Losses</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalLosses">{{ value || 0 }}</td>
                    </tr>
                    <tr>
                        <td><strong>Loss %</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.lossPercentage">{{ value || 0 }}%</td>
                    </tr>
                    <tr>
                        <td><strong>Avg Loss</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.avgLosingScore">{{ value || 0 }}</td>
                    </tr>
                    <tr>
                        <td><strong>Doubles</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalDoubles">{{ value || 0 }}</td>
                    </tr>
                    <tr>
                        <td><strong>Triples</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalTriples">{{ value || 0 }}</td>
                    </tr>
                    <tr>
                        <td><strong>Big Loser</strong></td>
                        <td ng-repeat="(key, value) in vm.stats.totalBigLoser">{{ value || 0 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</div>