/*
 * Guy's Night Out
 * Big 2 - Score Calculator
 */
body.modal-open {
    position: fixed;
    width: 100%;
}

th,
td {
    text-align: center;
}

th:not(:first-child),
td:not(:first-child) {
    width: 18%;
}

tr.last-row {
    font-weight: bold;
}

.table {
    margin-top: 10px;
}

.table > tbody > tr.last-row td {
    border-top: 2px solid #696969;
}

.table-striped>thead>tr:hover,
.table-striped>tbody>tr:hover {
    background-color: #D8D8D8;
}

.col-sm-4 { 
    width: 33.33333333%;
    float: left;
}
.col-sm-8 { 
    width: 66.66666667%;
    float: left;
}

.modal-sm {
    width: 300px;
    margin: 30px auto;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;    
}

/* Hide number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media (max-width: 320px) {
  .table {
    font-size: 0.8em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .table {
    font-size: 0.9em;
  }
}