/*
 * Guy's Night Out
 * Big 2 - Score Calculator
 */
body {
    padding-top: 50px;
}

.no-padding {
    padding: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.panel-heading {
    font-weight: bold;
}

thead {
    background: #fff;
}

th,
td {
    text-align: center;
}

.table > thead > tr th {
    border-bottom: 2px solid #696969;
}

.table > tbody > tr > th,
.table > tbody > tr > td {
    vertical-align: middle;
}

.table > tbody > tr.row-divider td {
    border-top: 2px solid #696969;
}

.table-striped>thead>tr:hover,
.table-striped>tbody>tr:hover {
    background-color: #D8D8D8;
}

.column-number {
    width: 10%;
}

.seat-change-input {
    width: 10.5%;
}

.column-player-4 {
    width: 22.5%;
}

.column-player-5 {
    width: 18%;
}

.modal-sm {
    width: 400px;
    margin: 30px auto;
}

form .invalid label,
form .invalid select {
    color: red;
}

@media (min-width: 768px) {
    .modal-md {
        width: 720px;
    }
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;    
}

/* Hide number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media (max-width: 320px) {
    .table {
        font-size: 0.8em;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .table {
        font-size: 0.9em;
    }
}

#modal-new-game label,
#modal-payout label {
    padding-top: 5px;
}

.btn-default.active:focus,
.btn-default.active:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn.number-of-players {
    width: 45px;
    padding-left: 8px;
    padding-right: 8px;
}

.btn.point-value {
    width: 45px;
    padding-left: 8px;
    padding-right: 8px;
}

.btn.btn-default.winner {
    width: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 50%;
    left: -20px; /* Width of checkbox */
}

.btn.btn-default.winner.active {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;    
}

.btn.btn-default.winner[disabled] {
    opacity: 0.4;
}

#navbar-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: #000;
    z-index: 1002; /* 1001 - floathead, 1030 - navbar */
}

#modal-payout label.normal {
    font-weight: normal;
}

#modal-edit-score .header {
    margin-bottom: 25px;
}

#modal-edit-score .slider {
    margin-top: 6px;
}

#modal-edit-score .score {
    margin-top: 6px;
}

#modal-edit-score .header label:before {
    content: "";
    margin-left: -100%;
}

#modal-edit-score .header label:after {
    content: "";
    margin-right: -100%;
}

.three-diamonds-container {
    width: 32px;
    padding-left: 10px;
    padding-right: 10px;
}

.three-diamonds-container .three-diamonds-number {
    position: relative;
    top: -7px;
}

.three-diamonds-container .three-diamonds-symbol {
    position: absolute;
    top: 6px;
    left: 9px;
    font-size: 22px;
    color: #ff6161;
}

.btn.disabled.three-diamonds-container {
    cursor: pointer;
}

.btn-default.three-diamonds-container:focus {
    outline: none;
}

.btn-default.three-diamonds-container.active {
    color: #fff;
    background-color: #ff6161;
    border-color: #ff6161;
}

.btn-default.three-diamonds-container.active .three-diamonds-symbol {
    color: #fff;
}

#modal-stats .three-diamonds-container {
    position: relative;
    margin-top: -7px;
    margin-bottom: -7px;
}

#modal-stats .btn.disabled.three-diamonds-container {
    opacity: 1;
}

#modal-stats .three-diamonds-container .three-diamonds-symbol {
    left: 10px;
}

.glyphicon-usd {
    top: 2px;
}

md-slider[md-discrete] ._md-sign,
md-slider[md-discrete] ._md-sign:after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

md-slider[md-discrete] ._md-sign,
md-slider.md-primary ._md-track._md-track-fill {
    background-color: #337ab7;
}

md-slider[md-discrete] ._md-sign:after {
    border-top-color: #337ab7;
}

md-slider[md-discrete] ._md-thumb,
md-slider[md-discrete] ._md-disabled-thumb {
    display: none;
}

md-slider[md-discrete] ._md-track-ticks canvas {
    height: 6px;
    bottom: -2px;
}

#modal-stats #table-overall-stats,
#modal-stats #table-individual-stats {
    table-layout: fixed;
}

#modal-stats #table-overall-stats td {
    border: none;
}

#modal-stats #table-overall-stats tbody td:first-child,
#modal-stats #table-individual-stats thead th:first-child {
    width: 30%;
}

#modal-stats h4 .dropdown {
    display: inline-block;
    margin-right: 10px;
    margin-top: -5px;
}

#modal-edit-players .form-horizontal {
    margin-top: 15px;
}

#modal-data textarea {
    width: 100%;
    height: 300px;
}