/*
 * Guy's Night Out
 * Big 2 - Score Calculator
 */
body {
    padding-top: 50px;
}

body.modal-open {
    position: fixed;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

thead {
    background: #fff;
}

th,
td {
    text-align: center;
}

tr.last-row {
    font-weight: bold;
}

.table {
}

.table > tbody > tr.last-row td {
    border-top: 2px solid #696969;
}

.table-striped>thead>tr:hover,
.table-striped>tbody>tr:hover {
    background-color: #D8D8D8;
}

.column-number {
    width: 10%;
}

.column-player-4 {
    width: 22.5%;
}

.column-player-5 {
    width: 18%;
}

.col-sm-4 { 
    width: 33.33333333%;
    float: left;
}

.col-sm-6 { 
    width: 50%;
    float: left;
}

.col-sm-8 { 
    width: 66.66666667%;
    float: left;
}

.modal-sm {
    width: 300px;
    margin: 30px auto;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;    
}

/* Hide number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media (max-width: 320px) {
    .table {
        font-size: 0.8em;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .table {
        font-size: 0.9em;
    }
}

#modal-new-game label {
    padding-top: 5px;
}

#modal-new-game .btn-default.active:focus,
#modal-new-game .btn-default.active:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

#modal-new-game .btn.number-of-players {
    width: 45px;
    padding-left: 8px;
    padding-right: 8px;
}

#modal-new-game .btn.point-value {
    width: 45px;
    padding-left: 8px;
    padding-right: 8px;
}