<table id="scores" class="table table-striped">
    <thead>
        <tr class="players" ng-click="editPlayers()">
            <th>#</th>
            <th ng-repeat="(key, value) in players">{{ value || 'Player ' + ($index + 1) }}</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="score in scores" class="scores" ng-click="editScore(score)">
            <td class="column-number" ng-repeat="(key, value) in score" ng-if="key == 'id'">{{ value || '-' }}</td>
            <td ng-repeat="(key, value) in score" ng-class="(settings.numberOfPlayers == 4) ? 'column-player-4' : 'column-player-5'" ng-if="key != 'id' && key != 'startTime'">{{ value || '-' }}</td>
        </tr>
        <tr class="last-row info">
            <td>Total</td>
            <td ng-repeat="(key, value) in totals">{{ value || '0' }}</td>
        </tr>
    </tbody>
</table>