<table id="scores" class="table table-striped">
    <thead>
        <tr class="players" ng-click="editPlayers()">
            <th>#</th>
            <th class="player1" ng-bind="players.player1 || 'Player 1'"></th>
            <th class="player2" ng-bind="players.player2 || 'Player 2'"></th>
            <th class="player3" ng-bind="players.player3 || 'Player 3'"></th>
            <th class="player4" ng-bind="players.player4 || 'Player 4'"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="game in scores" class="scores" ng-click="editScores(game)">
            <td>{{ game.id }}</td>
            <td>{{ game.player1 || '-'}}</td>
            <td>{{ game.player2 || '-' }}</td>
            <td>{{ game.player3 || '-' }}</td>
            <td>{{ game.player4 || '-' }}</td>
        </tr>
        <tr class="last-row info" ng-if="!hideTotals" ng-click="toggleTotals(true)">
            <td>Total</td>
            <td>{{ totals.player1 || '-' }}</td>
            <td>{{ totals.player2 || '-' }}</td>
            <td>{{ totals.player3 || '-' }}</td>
            <td>{{ totals.player4 || '-' }}</td>
        </tr>
        <tr class="last-row info" ng-if="hideTotals" ng-click="toggleTotals(false)">
            <td>Total</td>
            <td colspan="4">Click for total scores</td>
        </tr>
    </tbody>
</table>
<!-- Edit Player Modal -->
<div class="modal fade" id="edit-players" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Edit Players</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="player1" class="col-sm-4 control-label">Player 1</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control player1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="player2" class="col-sm-4 control-label">Player 2</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control player2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="player3" class="col-sm-4 control-label">Player 3</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control player3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="player4" class="col-sm-4 control-label">Player 4</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control player4">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
                <button type="button" id="save-players" class="btn btn-primary" ng-click="savePlayers()">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit Score Modal -->
<div class="modal fade" id="edit-scores" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Game <span id="edit-scores-id"></span></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="player1" class="col-sm-4 control-label player1">Player 1</label>
                        <div class="col-sm-4">
                            <input type="number" inputmode="numeric" pattern="[0-9]*" class="form-control player1" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="player2" class="col-sm-4 control-label player2">Player 2</label>
                        <div class="col-sm-4">
                            <input type="number" inputmode="numeric" pattern="[0-9]*" class="form-control player2" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="player3" class="col-sm-4 control-label player3">Player 3</label>
                        <div class="col-sm-4">
                            <input type="number" inputmode="numeric" pattern="[0-9]*" class="form-control player3" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="player4" class="col-sm-4 control-label player4">Player 4</label>
                        <div class="col-sm-4">
                            <input type="number" inputmode="numeric" pattern="[0-9]*" class="form-control player4" value="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
                <button type="button" id="save-scores" class="btn btn-primary" ng-click="saveScores()" disabled>Save</button>
            </div>
        </div>
    </div>
</div>
<!-- New Game Confirmation Modal -->
<div class="modal fade" id="new-game" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Start a new game?</span></h4>
            </div>
            <div class="modal-body">
                Are you sure you want to start a new game?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="newGame()">Yes</button>
            </div>
        </div>
    </div>
</div>
