<table class="table table-striped scores">
    <thead>
        <tr class="players" ng-click="editPlayers()">
            <th>#</th>
            <th ng-repeat="(key, value) in players">{{ value || 'Player ' + ($index + 1) }}</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="score in scores" class="scores" ng-click="editScore(score)">
            <td class="column-number" ng-repeat="(key, value) in score" ng-if="key == 'id'">{{ value || '-' }}</td>
            <td ng-repeat="(key, value) in score" ng-class="{ success: (value < 0), 'column-player-4': (settings.numberOfPlayers == 4), 'column-player-5': (settings.numberOfPlayers == 5) }" ng-if="key.indexOf('player') > -1">{{ value || '-' }}</td>
        </tr>
        <tr id="add-new-score" class="cursor-pointer">
            <td colspan="{{ settings.numberOfPlayers + 1 }}" ng-click="addNewScore()"><span class="glyphicon glyphicon-plus"></span> <strong>Add new score</strong></td>
        </tr>
        <tr id="totals" class="row-divider info">
            <td><strong>Total</strong></td>
            <td ng-repeat="(key, value) in totals"><strong>{{ value || '0' }}</strong></td>
        </tr>
    </tbody>
</table>