<!DOCTYPE html>
<html>
<head>
    <title>Big 2 - Score Calculator</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="css/bootstrap.3.3.6.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="icon" href="img/favicon.ico">

    <script src="js/jquery.1.12.2.min.js"></script>
    <script src="js/bootstrap.3.3.6.min.js"></script>
    <script src="js/angular.1.4.5.min.js"></script>
    <script src="js/angular-cookies.1.4.5.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="big2App" ng-controller="Big2Controller">
    <div class="container">
        <h1>Big 2 - 4 Players</h1>

        <button class="btn btn-info" type="button" ng-click="newGame()">New Game</button>
        <a href="data-4-players.html" class="btn btn-info">Data</a>
        <a href="index-5-players.html" class="btn btn-info pull-right">5 Players</a>

        <table class="table table-striped">
            <thead>
                <tr class="players" ng-click="editPlayers()">
                    <th>#</th>
                    <th class="player1" ng-bind="players.player1 || 'Player 1'"></th>
                    <th class="player2" ng-bind="players.player2 || 'Player 2'"></th>
                    <th class="player3" ng-bind="players.player3 || 'Player 3'"></th>
                    <th class="player4" ng-bind="players.player4 || 'Player 4'"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="game in scores" class="scores" ng-click="editScores(game)">
                    <td>{{ game.id }}</td>
                    <td>{{ game.player1 || '-'}}</td>
                    <td>{{ game.player2 || '-' }}</td>
                    <td>{{ game.player3 || '-' }}</td>
                    <td>{{ game.player4 || '-' }}</td>
                </tr>
                <tr class="last-row info">
                    <td>Total</td>
                    <td>{{ totals.player1 || '-' }}</td>
                    <td>{{ totals.player2 || '-' }}</td>
                    <td>{{ totals.player3 || '-' }}</td>
                    <td>{{ totals.player4 || '-' }}</td>
                </tr>
            </tbody>
        </table>

        <!-- Edit Player Modal -->
        <div class="modal fade" id="edit-players" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        <h4 class="modal-title">Edit Players</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="player1" class="col-sm-4 control-label">Player 1</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control player1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="player2" class="col-sm-4 control-label">Player 2</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control player2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="player3" class="col-sm-4 control-label">Player 3</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control player3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="player4" class="col-sm-4 control-label">Player 4</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control player4">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
                        <button type="button" id="save-players" class="btn btn-primary" ng-click="savePlayers()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Score Modal -->
        <div class="modal fade" id="edit-scores" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        <h4 class="modal-title">Game <span id="edit-scores-id"></span></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="player1" class="col-sm-4 control-label player1">Player 1</label>
                                <div class="col-sm-4">
                                    <input type="number" inputmode="numeric" pattern="[0-9]*" class="form-control player1" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="player2" class="col-sm-4 control-label player2">Player 2</label>
                                <div class="col-sm-4">
                                    <input type="number" inputmode="numeric" pattern="[0-9]*" class="form-control player2" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="player3" class="col-sm-4 control-label player3">Player 3</label>
                                <div class="col-sm-4">
                                    <input type="number" inputmode="numeric" pattern="[0-9]*" class="form-control player3" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="player4" class="col-sm-4 control-label player4">Player 4</label>
                                <div class="col-sm-4">
                                    <input type="number" inputmode="numeric" pattern="[0-9]*" class="form-control player4" value="">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
                        <button type="button" id="save-scores" class="btn btn-primary" ng-click="saveScores()" disabled>Save</button>
                    </div>
                </div>
            </div>
        </div>

<!--
        <h2>Features</h2>
        <ul>
            <li>entering player names</li>
            <li>recording scores per game</li>
            <li>tallying and presenting overall score</li>
            <li>calculate overall payout</li>
            <li>player name validation (duplicates)</li>
            <li>prevent editing of scores once saved</li>
            <li>automatically calculate double and triples scores</li>
            <li>allow dollar value of cards to be set</li>
            <li>force payout / score to only be shown via toggle</li>
            <li>only the losers card counts are required to be entered, the winner is determined / calculated automatically</li>
        </ul>

        <h2>Enhancements</h2>
        <ul>
            <li>backend storage to record historical scores</li>
        </ul>
-->
    </div>
</body>
</html>